/*csslint ids: false, box-model: false*/

.blu {
    color: blue;
}

.gren {
    color: green;
}

.reed {
    color: red;
}

.white {
    color:  white;
}

.grey {
    color:  grey;
}

a {
    font-family: 'Nunito', sans-serif;
    text-decoration: none;
}

#wrapper {
    margin: 8px;
    max-width: 940px;
    padding: 0 5%;
}

#logo {
    margin: 0;
    text-align: center;
}

a {
    color: black;
}

header {
    background: #a6a6a6;
    float: left;
    margin: 0 0 30px 0;
    padding: 5px 0 0 0;
    width: 100%;
}

h2 {
    color: whitesmoke;
    font-size: 1em;
}

nav {
    background: white;
    margin: 20px 0 0;
    padding: 10px 0;
    text-align: center;
}

nav a:hover {
    color: #f13737;
}

h1 {
    color: whitesmoke;
    font-family: 'Nunito', sans-serif;
}

footer {
    clear: both;
    color: #ccc;
    font-size: 0.75em;
    padding-top: 50px;
    text-align: center;
}

.s {
    height: 20px;
    margin: 0 5px;
    width: 20px;
}

#gallery {
    list-style: none;
    margin: 0;
    padding: 0;
}

#gallery li {
    background-color: lightgray;
    color: orange;
    float: left;
    margin: 2.5%;
    width: 45%;
}

img {
    max-width: 100%;
}

#gallery li a p {
    color: red;
    font-size: 0.75em;
    margin: 0;
    padding: 5%;
}

nav ul {
    list-style: none;
    margin: 0 10px;
    padding: 10px 0;
}

nav li {
    display: inline-block;
}

nav a {
    font-weight: 800;
    padding: 15px 10px;
}

.pic {
    border-radius: 25%;
    display: block;
    max-width: 0 auto 30px;
}

h3 {
    0 0 1em 0;
}

.contact li.mail a {
    background-image: url('../img/mail.png')
}

.contact li.netbeans a {
    background-image: url('../img/wat.jpg')
}

.contact a {
    background-repeat: no-repeat;
    background-size: 20px 20px;
    display: block;
    margin: 0 0 10px;
    min-height: 20px;
    padding: 0 0 0 30px;
}

.contact {
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 0.9em;
}

@media screen and (min-width: 480px) {
    #primary {
        width: 50%;
        float: left;
    }
    #secondary {
        width: 40%;
        float: right;
    }
    #gallery li {
        width: 28.333%;
    }
    #gallery li:nth-child(4n) {
        clear: left;
    }
    .pic {
        float: left;
        margin: 0 5% 80px 0;
    }
}

@media screen and (min-width: 660px) {
    nav {
        float: left;
        font-size: 1.125em;
        margin-left: 5%;
        text-align: left;
        width: 45%;
    }
    #logo {
        float: left;
        margin-left: 5%;
        text-align: left;
        width: 45%;
    }
    h1 {
        font-size: 2.5em;
    }
    h2 {
        font-size: 0.825em;
        margin-bottom: 20px;
    }
    header {
        border-bottom: 5px solid black;
        margin-bottom: 60px;
    }
}

.label {
    font-size: 35px;
    color: grey;
}

.background {
    background-color: #e8e8e8;
}

.bord {
    border-bottom: 5px solid #636363;
}

.space {
    color: #dbba00;
    margin-left: 30px;
}

.col li.white a {
    background-image: url('../img/wat.jpg')
}

.col li.black a {
    background-image: url('../img/wat.jpg')
}

.col a {
    background-repeat: no-repeat;
    background-size: 20px 20px;
    display: block;
    margin: 0 0 10px;
    min-height: 20px;
    padding: 0 0 0 30px;
}

.col {
    list-style: none;
    padding-top: 10px;
    margin: 0;
    font-size: 0.9em;
}

.space0 {
    color: darkgrey;
}

.space1 {
    color: white;
}

.space2 {
    color: black;
}

.space3 {
    color: red;
}

.space4 {
    color: green;
}

.space5 {
    color: blue;
}

.black {
    color: black;
}

.black2 {
    background-color: #303030;
}

.black3 {
    background-color: #383838;
}

#black4 li {
    background-color: #787878;
    color: white;
    float: left;
    margin: 2.5%;
    width: 45%;
}

#black4 {
    list-style: none;
    margin: 0;
    padding: 0;
}

#black4 li a p {
    color: white;
    font-size: 0.75em;
    margin: 0;
    padding: 5%;
}

@media screen and (min-width: 480px) {
    #primary {
        width: 50%;
        float: left;
    }
    #secondary {
        width: 40%;
        float: right;
    }
    #black4 li {
        width: 28.333%;
    }
    #black4 li:nth-child(4n) {
        clear: left;
    }
    .pic {
        float: left;
        margin: 0 5% 80px 0;
    }
}



.red {
    color: #d10000;
}

.red1 {
    color: #b80000;
}

.red2 {
    background-color: #ff5757;
}

.red3 {
    background-color: darkred;
}

#red4 li {
    background-color: red;
    color: white;
    float: left;
    margin: 2.5%;
    width: 45%;
}

#red4 {
    list-style: none;
    margin: 0;
    padding: 0;
}

#red4 li a p {
    color: white;
    font-size: 0.75em;
    margin: 0;
    padding: 5%;
}

@media screen and (min-width: 480px) {
    #primary {
        width: 50%;
        float: left;
    }
    #secondary {
        width: 40%;
        float: right;
    }
    #red4 li {
        width: 28.333%;
    }
    #red4 li:nth-child(4n) {
        clear: left;
    }
    .pic {
        float: left;
        margin: 0 5% 80px 0;
    }
}




.green {
    color: green;
}

.green1 {
    color: #369900;
}

.green2 {
    background-color: #49d100;
}

.green3 {
    background-color: darkgreen;
}

#green4 li {
    background-color: #4ddb00;
    color: white;
    float: left;
    margin: 2.5%;
    width: 45%;
}

#green4 {
    list-style: none;
    margin: 0;
    padding: 0;
}

#green4 li a p {
    color: white;
    font-size: 0.75em;
    margin: 0;
    padding: 5%;
}

@media screen and (min-width: 480px) {
    #primary {
        width: 50%;
        float: left;
    }
    #secondary {
        width: 40%;
        float: right;
    }
    #green4 li {
        width: 28.333%;
    }
    #green4 li:nth-child(4n) {
        clear: left;
    }
    .pic {
        float: left;
        margin: 0 5% 80px 0;
    }
}

.blue {
    color: #00008f;
}

.blue1 {
    color: #000061;
}

.blue2 {
    background-color: #42a1ff;
}

.blue3 {
    background-color: #006bd6;
}

#blue4 li {
    background-color: #0000fa;
    color: white;
    float: left;
    margin: 2.5%;
    width: 45%;
}

#blue4 {
    list-style: none;
    margin: 0;
    padding: 0;
}

#blue4 li a p {
    color: white;
    font-size: 0.75em;
    margin: 0;
    padding: 5%;
}

@media screen and (min-width: 480px) {
    #primary {
        width: 50%;
        float: left;
    }
    #secondary {
        width: 40%;
        float: right;
    }
    #blue4 li {
        width: 28.333%;
    }
    #blue4 li:nth-child(4n) {
        clear: left;
    }
    .pic {
        float: left;
        margin: 0 5% 80px 0;
    }
}



























